 .chapterPage{
  background: url("assests/background-black.png");
 }

 .chapterPageContainer{
  margin: 5px 15px;
 }
 

 .chapterPageNav2 {
  display: flex;
  gap:15px;
  background-color: black;
  padding: 8px;
}


.buttonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:3px;
  background-color: var(--button-green);
  padding: 4px;
}
.buttonContainer button{
  border: none;
  background-color: var(--button-green);
  color: #fff;
  font-size:0.9rem;
  text-transform: uppercase;
  
}
.buttonContainer button:hover{
  color:var(--hover-yellow)
}

.buttonContainer i{
  color:#fff;
  font-size:1rem;
}

.chapterPageNav1{
  background-color: var(--green-blue);
  padding: 8px;
  display: flex;
  align-items: center;
  gap:3px;
}

.chapterPageNav1 i{
  color: #fff;
  font-size:0.65rem;
  text-transform: capitalize;
}


.chapterPageNav1 a{
  color: #fff;
  text-transform: capitalize;
}

.chapterPageNav1 a:hover{
  color:var(--hover-yellow);
}

.flex{
  display: flex;
  flex-direction: column;
}


.flexReverse{
  display: flex;
  flex-direction: column-reverse;
}

.noChapterNavText{
  display: none;
}

.chapterNavText{
  background-color: rgba(0,0,0,.39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;
  height:100px;
}

.chapterNavText h2{
  color:var(--aqua);
  font-weight:400;
  display: flex;
  gap:8px;
  padding-top: 10px;
  text-transform: capitalize;
}

.chapterNavText p{
  color:var(--red);
  padding: 0px 10px;
}


@media (max-width:768px){
  .chapterPageNav2{
    display: flex;
    flex-direction: column;
  }
  .chapterPageNav1{
    font-size: 0.8rem;
  }

  .buttonContainer{
    width: 50%;
  }

  
 .chapterPageContainer{
  margin: 5px 0px;
 }
}