/* .chapterImageContainerFullSize{
    width:auto;
    height: auto;
}

.chapterImageContainerHalfSize{
    display: flex;
    justify-content: center;
    padding: 3px; 
}  */
/* .imageContainer{
    display: flex;
    justify-content: center;
    padding: 3px;
} */
.chapterImage{
width: 100%;
height: auto;
}