.footerContainer{
    background-color: #fff;
    border-top: 2px solid var(--blue);
    margin-top: 10px;
    margin: 0px 15px;   /* this needs to match with manga page padding */
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer .center{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--text-grey-medium)
}

.footerNav h5{
font-size:1.4rem;
font-weight: 400;
color: var(--blue);
padding: 5px;
}
.footerNav p{
    padding: 3px 5px;
    color: var(--text-grey-medium);
}
.footerNav a{
    color:var(--blue)
}


@media (max-width: 768px) {

.footerContainer{
    margin: 0px 0px;
    margin-top: 15px;
}
  
}