.mangaPage h1{
    font-size: var(--large);
}
.mangaPage h4{
    font-size: var(--small);
    color: var(--blue);
}
.mangaPage p{
    color:var(--text-grey)
}
.mangaPage .chapters{
    height: 400px; /* Set the desired height for the scrollable section */
  overflow: auto; /* Enable scrolling when content exceeds the height */
}
.mangaPage .mangaInfo{
    display: flex;
    flex-direction: row;
    gap:25px;
}

.mangaPage .subInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}