
div.mangaDetails{
    display: flex;
    gap:25px;
    align-items: center;
} 

.mangaDetails h1{
    color:var(--blue);
    font-size:var(--large);
}

.mangaDetails p{
    color: var(--text-grey);
    font-size: var(--medium);
}