.mangaDetails{
    background-color: var(--bg-white);
    margin: 4px 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.mangaDetails a h2{
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-grey-dark);
    padding-bottom: 5px;
}

.mangaDetails a h2:hover{
    color:var(--hover-yellow);
}

.mangaDetails span{
    color: var(--link-blue);
    font-size: 0.95rem;
}

.mangaDetails span:hover{
    color:var(--hover-yellow);
}

.subDetails2{
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size:0.95rem;
    padding: 5px 0px;

}
.subDetails2 div{
    display: flex;
    align-items: center;
    gap:2px;
}
.subDetails2 p{
    color:var(--text-grey);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  @media (max-width:375px){
    
  }

@media (max-width: 767px) {
/*     
.grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .mangaDetails{
    width: 80%;
  } */

  


  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;


  }

  .mangaDetails {
    margin: 4px 0px;
    width: 100%;
  }

}
  
  